/*style.css für PollPage*/

body {
	text-align: center;
	font-family: ;
	background-color: #fdfbe1;	
	color: #411f00;
	letter-spacing: 0.4px;
}


hr { 
	border: 0;
	height: 1px;
	width: 70%;
	background-image:
	linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0));
}

a:link	{
	font-size: 15px;
	color: #190c00;
	text-decoration: none;
}

a:hover {
	color: #936100;
}

a:visited {
	color: #936100;
	
}

.infotext {
	text-align: center;
	background: #fff3c4;
	max-width: 240px;
	padding: 1%;
	padding-top: 0%;
	line-height: 1.8;
	border-radius: 2px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	min-width:20%;
}

#textarea_frage {
   color: #190c00;
}


#textarea_antwort {
   color: #190c00;
}


footer {
	color: #411f00;
	position: absolute;
	bottom: 0;
	width: 99%;
}
