/*style.css für PollPage*/

body {
	text-align: center;
	font-family: ;
	background-color: #;	
}


#header {
	padding: 20px;
}

a:link	{
font-size: 15px;
color: #0D0DFF;
text-decoration: none;
}

a:hover {
color: #FF0000;
}


#textarea_frage {
   resize: none;
}


#textarea_antwort {
   resize: none;
}


footer {
    display: block;
} 
